.characterEditor {
  padding-top: 128px;
  padding-bottom: 64px;
  overflow: auto;
  isolation: isolate;
}

.background {
  position: fixed;
  bottom: 0;
  height:40%;
  width: 100%;
  background-color: hsl(195deg, 20%, 86%);
}

.maxWidthWrapper {
  position: relative;
}

.header {
  padding-bottom: 64px;
  width: 65%;
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 16px;
  letter-spacing: -0.5px;
}

.description {
  font-size: 1.25rem;
  margin: 0;
}

.characterWrapper {
  min-height: 500px;
  width:100%;
  height:75%;
  position: fixed;
  left:50%;
  bottom: 0;
}

.controlColumn {
  width: 50%;
}


/* Mobile stuff section */
@media (max-width: 768px) {
  .characterEditor {
    padding-top: 24px;
    min-height: 100%;
  }

  .maxWidthWrapper {
    min-height: 100vh;
  }

  .characterWrapper {
    left: 0;
    z-index: 1;
  }

  .header {
    position: relative;
    z-index: 0;
    width: 100%;
  }

  .controlColumn {
    width: 100%;
    overflow: auto;
    white-space: nowrap;
    position: absolute;
    bottom: 128px;
    z-index: 2;
    margin-left: -32px;
    padding-left:32px;
  }
}
